<% include header %>
	<h1 class="title--h1">增加学生信息</h1>
	<form method="post">
		姓名：<input type="text" name="name"><br>
		学号：<input type="text" name="studentId"><br>
		年龄：<input type="text" name="age"><br>
		电话：<input type="text" name="tel"><br>
		邮箱：<input type="text" name="email"><br>
		地址：<input type="text" name="address"><br>
		<button type="submit">确定</button>
	</form>
<% include footer %>